<ion-header>
  <ion-toolbar>
    <ion-title>
      INICIO DE SESION
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-item>
      <ion-label position="floating">USUARIO </ion-label>
      <ion-input></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">PASSWORD</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </div>

  <div>
    <ion-button expand="block">INGRESAR</ion-button>
  </div>
  
</ion-content>
